<!DOCTYPE html>
<html lang="en" xmlns:th="http:/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/students/createStudent" th:object="${newStudent}">
    <input type="text" name="nama", placeholder="Nama">
    <input type="number" name="nim", placeholder="NIM">
    <input type="text" name="alamat", placeholder="Alamat">
    <input type="text" name="tanggallahir", placeholder="Tanggal Lahir">
    <input type="submit" value="Simpan">
</form>
</body>
</html>