<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form method="post" action="/students/editStudent" th:object="${studentToEdit}">
    <input type="text" name="nama" placeholder="Nama" th:value="*{nama}">
    <input type="number" name="nim" placeholder="NIM" th:value="*{nim}">
    <input type="text" name="alamat" placeholder="Alamat" th:value="*{alamat}">
    <input type="text" name="tanggallahir" placeholder="Tanggal Lahir" th:value="*{tanggallahir}">
    <input type="submit" value="Simpan Edit">
</form>
</body>
</html>
